/* Select both the ul and ol list elements and assign a border of 1px solid and a width of 200px.

Select the ul unordered list and give it a background-color of lightgreen.

Select the ol ordered list and assign it a background-color of skyblue as well as a color of white.

Use the > selector and style the li list item inside the ul unordered list with a text-decoration of underline wavy 3px brown.

Use the > selector and style the li list item inside the ol ordered list with a text-decoration of underline dotted 3px indigo. */

ul, ol{
    border:1px solid;
    width: 200px;
}
ul{
    background-color: lightgreen;
}
ol{
    background-color: skyblue;
    color: white;
}
ul>li{
    text-decoration: underline wavy 3px brown
}
ol>li{
    text-decoration: underline dotted 3px indigo;
}